<div class="landing-page">
  <h1 class="title">
    Tu cuenta corriente <br />
    <strong>100% on line</strong>
  </h1>
  <aside>
    <div class="banner">
      <div class="brand">
        <span class="brand-logo">
          <img src="assets/images/ico-cmr.png" alt="CMR Puntos" />
        </span>
        <span class="brand-text">
          Acumula <br />
          CMR Puntos
        </span>
      </div>
      <div class="brand">
        <span class="brand-logo">
          <img src="assets/images/opu.png" alt="Descuentos" />
        </span>
        <span class="brand-text">
          Descuentos <br />
          exclusivos
        </span>
      </div>
      <div class="brand">
        <span class="brand-logo">
          <img src="assets/images/visa-blue-png-2.png" alt="Visa" />
        </span>
        <span class="brand-text">
          Compra en <br />
          todo el mundo
        </span>
      </div>
    </div>
  </aside>
  <div class="content">
    <section class="application-form box-shadow">
      <app-application-form></app-application-form>
    </section>
  </div>

  <div class="clear"></div>
</div>
