<div class="langing container">
  <header class="header">
    <div class="header-logo">
      <img src="assets/images/logo-banco-falabella.png" alt="" />
    </div>
    <div class="header-underline"></div>
  </header>
  <main class="main">
    <h1 class="title">
      Tu cuenta corriente <br />
      <strong>100% on line</strong>
    </h1>
    <aside>
      <div class="banner">
        <div class="brand">
          <span class="brand-logo">
            <img src="assets/images/ico-cmr.png" alt="CMR Puntos" />
          </span>
          <span class="brand-text">
            Acumula <br />
            CMR Puntos
          </span>
        </div>
        <div class="brand">
          <span class="brand-logo">
            <img src="assets/images/opu.png" alt="Descuentos" />
          </span>
          <span class="brand-text">
            Descuentos <br />
            exclusivos
          </span>
        </div>
        <div class="brand">
          <span class="brand-logo">
            <img src="assets/images/visa-blue-png-2.png" alt="Visa" />
          </span>
          <span class="brand-text">
            Compra en <br />
            todo el mundo
          </span>
        </div>
      </div>
    </aside>
    <div class="content">
      <section class="application-form">
        <div class="form">
          <h2 class="form-title"><strong>Ingresa</strong> tus datos</h2>
          <p class="from-description">
            Solo necesitas tener tu cédula para realizar la solicitud.
          </p>
          <div class="form-field">
            <label class="form-field-label" for="field-1">Rut</label>
            <div class="form-field-input">
              <input id="field-1" type="text" placeholder="Ej: 11.111.111-1" />
            </div>
          </div>

          <div class="form-field">
            <label class="form-field-label" for="field-2">Celular</label>
            <div class="form-field-input">
              <input id="field-2" type="text" placeholder="Ej: 976341264" />
            </div>
          </div>

          <div class="form-field">
            <label class="form-field-label" for="field-3"
              >Correo electrónico</label
            >
            <div class="form-field-input">
              <input
                id="field-3"
                type="text"
                placeholder="Ej: correo@correo.cl"
              />
            </div>
          </div>

          <button class="form-button button" type="button">
            Continuar
          </button>
        </div>
      </section>
    </div>

    <div class="clear"></div>
  </main>
</div>
