<div class="rent-page">
  <div class="content">
    <section class="rent-form box-shadow">
      <div class="form">
        <h2 class="form-title"><strong>Ayúdanos</strong> con unos datos más</h2>
        <p class="from-description">
          Porque te queremos dar una oferta hecha a la medida para ti,
          necesitamos saber un poco más.
        </p>
        <div class="form-field">
          <label class="form-field-label" for="field-1"
            >¿Cuál es tu renta líquida/ingreso mensual?</label
          >
          <div class="form-field-input">
            <input id="field-1" type="text" placeholder="Ej: $400.000" />
          </div>
        </div>

        <app-button label="Continuar"></app-button>
      </div>
    </section>
  </div>

  <div class="clear"></div>
</div>
